@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.mt108 {
  margin-top: 108px;
  height: 332px;
}

.mt103 {
  margin-top: 103px;
  position: relative;
}

.mt124 {
  margin-top: 124px;
  height: 360px;
}

.mt20 {
  height: 60px;
}

.preview {
  position: relative;
  width: 960px;
  height: 408px;
  min-height: 408px;
  margin-top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #dae0e5;
  border-radius: 18px;
  background-image: url("../images/logo/prew-large.png");
  background-repeat: no-repeat;
}

.preview__logo {
  position: absolute;
  top: 39px;
  left: 46px;
  width: 56px;
  height: 74px;
}

.preview__logo img {
  width: 100%;
  height: 100%;
}

.preview__title {
  position: absolute;
  top: 50.28px;
  left: 119px;
  width: 191.04px;
  height: 55.06px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  cursor: default;
}

.preview__text {
  position: absolute;
  left: 46px;
  bottom: 46px;
  width: 262px;
  height: 141px;
  color: #2e3134;
}

.preview__text p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  cursor: default;
}

.cam {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 870px;
  height: 619px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: inherit;
}

.cam__item {
  position: relative;
  width: 390px;
  height: 100%;
  border-radius: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  cursor: pointer;
}

.cam__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cam__item__shadow {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 314px;
  height: 95%;
  -webkit-box-shadow: 0px 25px 100px #48ae4b;
          box-shadow: 0px 25px 100px #48ae4b;
}

.cam__item .details {
  position: absolute;
  margin-bottom: -35px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  cursor: default;
  cursor: pointer;
}

.cam__sliderOne {
  z-index: 2;
  display: none;
  position: absolute;
  top: -37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 720px;
  height: 698px;
  background: red;
  border-radius: 18px;
  padding: 40px;
}

.cam__sliderContainer {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 720px;
  height: 698px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  border-radius: 18px;
  padding: 40px;
}

.cam__close {
  width: 52px;
  height: 52px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  border-radius: 50%;
  position: absolute;
  left: -85px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.cam__close img {
  width: 16.63px;
  height: 16.63px;
  position: absolute;
  top: 17.68px;
  left: 17.68px;
}

.cam__close--right {
  width: 52px;
  height: 52px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  border-radius: 50%;
  position: absolute;
  right: -85px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.cam__close--right img {
  width: 16.63px;
  height: 16.63px;
  position: absolute;
  top: 17.68px;
  left: 17.68px;
}

.cam__sh {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
  background-color: inherit;
  width: 640px;
  height: 698px;
  -webkit-box-shadow: 0px 25px 100px #48ae4b;
          box-shadow: 0px 25px 100px #48ae4b;
  border-radius: 18px;
}

.cam__sliderCam {
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 37px;
  width: calc(100% - 195px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 390px;
  height: 619px;
  border-radius: 18px;
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 18px;
}

.cam__sliderTel {
  position: absolute;
  left: 100%;
  top: 37px;
  width: calc(100% - 195px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
  width: 390px;
  height: 619px;
  border-radius: 18px;
  background: #f4f4f4;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 18px;
}

.cam__sliderCamImage {
  position: absolute;
  top: 80px;
  left: 90px;
  width: 210px;
  height: 458px;
  background-image: url("../images/камераОбработка.png");
}

.cam__sliderTelImage {
  position: absolute;
  top: 42px;
  right: 63px;
  background-image: url("../images/Смартфон.png");
  width: 263px;
  height: 534px;
}

.cam__sliderTwo {
  z-index: 2;
  display: none;
  position: absolute;
  top: -37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 720px;
  height: 698px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  border-radius: 18px;
  padding: 40px;
}

.cam__sliderBar {
  width: 640px;
  height: 618px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
}

.cam__button {
  padding: 35px 18px;
  width: 311px;
  height: 196px;
  background: #ffffff;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cam__buttonIcon {
  position: relative;
  width: 126px;
  height: 126px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8bb928), to(#45ae4d));
  background: linear-gradient(180deg, #8bb928 0%, #45ae4d 100%);
  -webkit-box-shadow: 0px 10px 40px #45ae4d;
          box-shadow: 0px 10px 40px #45ae4d;
  border-radius: 50%;
}

.cam__buttonIcon img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cam__buttonText {
  width: 130px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #313334;
}

.buying {
  margin-top: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buying__title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  cursor: default;
  text-align: center;
}

.buying__grid {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.buying__item {
  height: 213.7px;
  width: 213.7px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.buying__item img {
  position: absolute;
  top: 50px;
  width: 38.78px;
  height: 59.47px;
}

.buying__text {
  position: absolute;
  bottom: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  cursor: default;
  text-align: center;
}

.buying__cam3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 153px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -8px;
  left: 0px;
}

.buying__cam4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 175px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -30px;
  left: 0px;
}

.buying__sh {
  z-index: -1;
  position: absolute;
  width: 140px;
  height: 214px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  -webkit-box-shadow: 0px 25px 100px #48ae4b;
          box-shadow: 0px 25px 100px #48ae4b;
  border-radius: 18px;
}

.containerElement {
  position: relative;
  width: 100%;
  display: block;
}

.formTel {
  z-index: 1;
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 872px;
  height: 332px;
  border: none;
  background: #ffffff;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formTel__form {
  padding-top: 40px;
  padding-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.formTel__title {
  width: 360px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  cursor: default;
}

.formTel__title__success {
  position: absolute;
  top: 81px;
  left: 162px;
  width: 548px;
  height: 95px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  cursor: default;
}

.formTel__input {
  padding: 9px 24px 8px 24px;
  margin-top: 33px;
  margin-bottom: 10.54px;
  width: 276px;
  height: 60px;
  border: 3px solid #dae0e5;
  border-radius: 4px;
  outline: none;
  font-size: 27px;
  font-weight: 700;
  line-height: 31.64px;
  vertical-align: middle;
}

.formTel__input:focus {
  background: #ffffff;
  border: 3px solid #47b247;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 152, 16, 0.25), 0px 24px 24px rgba(0, 152, 16, 0.25);
          box-shadow: 0px 0px 24px rgba(0, 152, 16, 0.25), 0px 24px 24px rgba(0, 152, 16, 0.25);
  border-radius: 4px;
}

.formTel__label {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #dae0e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

.formTel__danger {
  display: none;
  width: 21px;
  height: 21px;
}

.formTel__button {
  width: 278px;
  height: 66px;
  margin-top: 17.6px;
  position: relative;
  border: none;
  background: inherit;
  border: none;
  cursor: pointer;
}

.formTel__button__success {
  position: absolute;
  width: 278px;
  height: 60px;
  left: 298px;
  bottom: 46px;
  background: #dae0e5;
  border-radius: 4px;
  border: none;
  outline: none;
}

.formTel__bg1 {
  z-index: 2;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.78px;
  border: none;
  border-radius: 4px;
  background: #72bf44;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formTel__bg1:focus {
  border: none;
}

.formTel__bg1 span {
  padding-left: 20.88px;
}

.formTel__bg1 img {
  padding-right: 17.74px;
}

.formTel__bg1__success {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 17.74px;
  padding-left: 21px;
}

.formTel__bg2 {
  z-index: 1;
  position: absolute;
  top: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 260px;
  height: 60px;
  background: #009810;
  border-radius: 4px;
}

.formTel__boxShadow {
  z-index: 0;
  position: absolute;
  top: 0;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 796px;
  height: 332px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  -webkit-box-shadow: 0px 25px 100px #48ae4b;
          box-shadow: 0px 25px 100px #48ae4b;
}

.formTel__success {
  display: none;
  z-index: 10;
  position: absolute;
  width: 872px;
  height: 332px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #dae0e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews {
  margin-top: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__title {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  cursor: default;
}

.reviews__personContainer {
  z-index: 1;
  position: relative;
  width: 560px;
  height: 240px;
  margin-top: 69px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.reviews__person_one {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  opacity: 1;
  border-radius: 18px;
  width: 560px;
  height: 240px;
}

.reviews__person_two {
  z-index: 8;
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 69px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8cb928), to(#45ae4d));
  background: linear-gradient(180deg, #8cb928 0%, #45ae4d 100%);
  border-radius: 18px;
  opacity: 0.5;
  width: 466px;
  height: 200px;
}

.reviews__person_name {
  position: absolute;
  top: 60px;
  left: 142px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
}

.reviews__person_description {
  position: absolute;
  bottom: 49px;
  left: 142px;
  width: 386px;
  height: 90px;
  color: white;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  cursor: default;
}

.reviews__person_avatar {
  position: relative;
  width: 102px;
  height: 102px;
  margin-top: 20px;
  margin-left: 20px;
}

.reviews__person_nimb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.reviews__person_photo {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__next {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */